html {
    --container-width: 30vw;
    --container-height: calc(var(--container-width) * 1.25);
}

#id_form {
    margin-left: calc(50vw - var(--container-width) / 2);
    width: var(--container-width);
    height: var(--container-height);
    border: 1.5px solid lightblue;
    border-radius: 4px;
    background-color: #E0E8E8;
}

.container {
    display: grid;
    height: var(--container-height);
    grid-template-rows: auto;
}

#id_page_heading {
    grid-template-columns: auto;
    margin: auto;
}

#id_username, #id_password {
    width: 95%;
    padding: 10px;
    margin: auto;
}

#id_submit {
    width: calc(var(--container-width) / 5);
    height: calc(var(--container-width) / 14);
    margin: auto;
}
