#id_form {
    margin-left: 25vw;
    width: 50vw;
    height: 40vw;
    border: 1px solid lightblue;
}

.container {
    display: grid;
    grid-column-gap: 50vw;
    grid-row-gap: 10vh;
}

#id_page_heading {
    font-size: 4vw;
}