.btn {
    border: none;
    border-radius: 8px;
    padding: 0.5% 1% 0.5% 1%;
    color: white;
    text-align: center;
    cursor: pointer; 
}

.btn-red {
    background-color: #f44336;
}

.btn-blue {
    background-color: #008cba;
}

.btn-green {
    background-color: #4caf50;
}