body {
    margin: none;
}

#id_symbol_search {
    width: 20vw;
    height: 3vh;
}

#id_search_btn {
    margin-left: 5px;
}

#id_form {
    display: flex;
    justify-content: center;
}

#id_financial_statements_tabs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1vh;
}

.tab {
    font-size: 2vw;
    color: #428bca;
    font-family: sans-serif;
}

#id_symbol_name {
    color: #6b5b95;
    margin: auto;
    text-transform: capitalize;
    width: 1vw;
}

#id_income_statement, #id_balance_statement, #id_cashflow_statement {
    display: none;
}

.finance_table, tr, td {
    border: 1px solid #4cf789;
    margin: auto;
    color: #65749b;
    text-transform: capitalize;
    font-size: 1.5vw;
} 

#id_balance_statement {
    display: block;
}


